body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .two-columns {
        display: flex;
        gap: 20px;
        position: relative;
    }
    .two-columns > * {
        flex: 1;
        margin: 0;
    }
    .two-columns::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: var(--background-modifier-border);
        transform: translateX(-50%);
    }
}
